*{
    margin: 0;
    padding: 0;
}

:root{
    --font-color: white;
    --font-scaler: 1;
}

body{
    background-attachment:fixed;
    background-image: url(./bg.png);
    background-position:center;
    background-repeat:no-repeat;
    color: var(--font-color);
    font-family: sans-serif;
}

/* CURRENT WEATHER OVERVIEW */
.current-weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6vh 8vw;
}

.current-weather-overview > *{
    margin: 12px 0;
}

.current-condition{
    font-size: calc(var(--font-scaler) * 3rem);
}

.current-temp, .main-units{
    font-size: calc(var(--font-scaler) * 2.5rem);
}

.separator, .secondary-units{
    font-size: calc(var(--font-scaler) * 1rem);
    vertical-align: top;
}

.secondary-units{
    cursor: pointer;
}

.city{
    font-size: calc(var(--font-scaler) * 1.25rem);
}

.country{
    font-size: calc(var(--font-scaler) * 0.75rem);
}

.condition-icon{
    display: block !important;
    font-size: calc(var(--font-scaler) * 5rem) !important;
}

.search-bar{
    border-bottom: solid 1px var(--font-color);
    white-space: nowrap;
}

input{
    background: none;
    border: none;
    color: var(--font-color);
    font-size: calc(var(--font-scaler) * 1rem);
    margin-top: 16px;
    outline: none;
    padding-left: 4px;
    width: 200px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--font-color);
    opacity: 0.5;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--font-color);
    opacity: 0.5;
}
 
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--font-color);
    opacity: 0.5;
}

/* CURRENT WEATHER DETAILS */
.details-card{
   display: grid;
   gap: 8px 4px;
   grid-template-columns: 4rem auto;
   grid-template-rows: auto auto;
   margin: 32px 0;
}

.details-icon{
    color: var(--font-color) !important;
    font-size: calc(var(--font-scaler) * 3rem) !important;
    grid-row-end: span 2;
}

.details-label{
    font-size: calc(var(--font-scaler) * 0.75rem);
}

.details-data{
    font-size: calc(var(--font-scaler) * 1.75rem);
}

/* FORECAST */
.forecast-container{
    bottom: 5vh;
    height: 250px;
    margin: 0 0 50px 0;
    position: absolute;
    width: 100vw;
}

.forecast-selector{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.forecast-selector p{
    border-radius: 5px;
    border: solid 2px var(--font-color);
    cursor: pointer;
    margin: 0 25px 32px 0;
    padding: 6px;
}

.forecast-selector p.hide{
    border-radius: 5px;
    border: none;
}

/* FOUR DAY FORECAST */
.four-day-forecast{
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.four-day-forecast.hide{
    display: none;
}

.fourDayCard-container{
    display: flex;
    flex-direction: column;
}

.fourDayCard-day{
    font-size: calc(var(--font-scaler) * 1.75rem);
    margin-bottom: 8px;
}

.fourDayCard-max{
    font-size: calc(var(--font-scaler) * 1.5rem);
}

.fourDayCard-min{
    font-size: calc(var(--font-scaler) * 1rem);
}

.fourDayCard-condition{
    align-self: center;
    font-size: calc(var(--font-scaler) * 3rem) !important;
    justify-self: center;
    margin-top: 8px;
}

/* HOURLY FORECAST */
.hourly-forecast{
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.hourly-forecast.hide{
    display: none;
}

.hourlyCard-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 50px 8px 50px;
}

.hourlyCard-time{
    font-size: calc(var(--font-scaler) * 1.5rem);
    white-space: nowrap;
}

.hourlyCard-day{
    font-size: calc(var(--font-scaler) * 1rem);
    margin-bottom: 8px;
}

.hourlyCard-temp{
    font-size: calc(var(--font-scaler) * 1.5rem);
}

.hourlyCard-condition{
    font-size: calc(var(--font-scaler) * 2.5rem) !important;
    margin-top: 8px;
}


/* FOOTER */

footer {
    align-items: center;
    background-color: none;
    bottom: 0;
    color: var(--font-color);
    display: flex;
    font-family: sans-serif;
    font-size: 1rem;
    gap: 10px;
    height: 5vh;
    justify-content: center;
    padding: 8px 0 8px 0;
    position: fixed;
    width: 100%;
}

.fa-github {
    color: var(--font-color);
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */


@media only screen and (max-width: 650px) {
    :root{
        --font-scaler: 0.85;
    }
    .current-weather{
        margin: 3vh 5vw;
    }

    .forecast-container{
        margin: 0 0 30px 0;
    }
    
    .hourlyCard-container{
        margin: 0 25px 8px 25px;
    }
}

@media only screen and (max-height: 650px), screen and (max-width: 500px) {
    :root{
        --font-scaler: 0.75;
    }
    .current-weather{
        margin: 1vh 3vw;
    }

    input{
        width: 100px;
    }

    .forecast-container{
        margin: 0 0 20px 0;
    }
    
    .hourlyCard-container{
        margin: 0 25px 8px 25px;
    }
   
}
