*{
    margin: 0;
    padding: 0;
}

:root{
    --font-color: black;
}

body{
    color: var(--font-color);
    font-family: sans-serif;
}

/* CURRENT WEATHER OVERVIEW */
.current-weather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 32px;
}

.current-weather-overview > *{
    margin: 12px 0;
}

.current-condition{
    font-size: 3rem;
}

.current-temp, .main-units{
    font-size: 2.5rem;
}

.separator, .secondary-units{
    font-size: 1rem;
    vertical-align: top;
}

.secondary-units{
    cursor: pointer;
}

.city{
    font-size: 1.25rem;
}

.country{
    font-size: 0.75rem;
}

.condition-icon{
    display: block !important;
    font-size: 5rem !important;
}

.search-bar{
    white-space: nowrap;
    border-bottom: solid 1px var(--font-color);
}

input{
    border: none;
    font-size: 1rem;
    outline: none;
    width: 200px;
    padding-left: 4px;
    color: var(--font-color);
}

/* CURRENT WEATHER DETAILS */
.details-card{
   display: grid;
   grid-template-columns: 4rem auto;
   grid-template-rows: auto auto;
   margin: 32px 0;
   gap: 8px 4px;
}

.details-icon{
    grid-row-end: span 2;
    font-size: 3rem !important;
    color: var(--font-color) !important;
}

.details-label{
    font-size: 0.75rem;
}

.details-data{
    font-size: 1.75rem;
}

/* FORECAST */
.forecast-container{
    position: absolute;
    bottom: 5vh;
    width: 100vw;
    margin: 0 0 50px 0;
    height: 250px;
}

.forecast-selector{
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.forecast-selector p{
    margin: 0 25px 32px 0;
    padding: 4px;
    border: solid 1px var(--font-color);
    border-radius: 5px;
    cursor: pointer;
}

.forecast-selector p.hide{
    border: none; 
    border-radius: 5px;
}

/* FOUR DAY FORECAST */
.four-day-forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--font-color);
}

.four-day-forecast.hide{
    display: none;
}

.fourDayCard-container{
    display: flex;
    flex-direction: column;
}

.fourDayCard-day{
    font-size: 1.75rem;
    margin-bottom: 8px;
}

.fourDayCard-max{
    font-size: 1.5rem;
}

.fourDayCard-min{
    font-size: 1rem;
}

.fourDayCard-condition{
    font-size: 3rem !important;
    margin-top: 8px;
    align-self: center;
    justify-self: center;
}

/* HOURLY FORECAST */
.hourly-forecast{
    display: 100vw;
    height: 100px;
    background: yellow;
}

.hourly-forecast.hide{
    display: none;
}

/* FOOTER */

footer {
    align-items: center;
    background-color: none;
    bottom: 0;
    color: var(--font-color);
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    gap: 10px;
    height: 5vh;
    justify-content: center;
    padding: 8px 0 8px 0;
    position: fixed;
    width: 100%;
}

.fa-github {
    color: var(--font-color);
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}